
/* from main styles sheet, just to maintain the same style between this from-scratch page and the main one */
:root {
    --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    color: #333;
    background-color: #303339;
    font-weight: normal;
    text-decoration: none;
}

a {
    color:#f8f9fa;
}


.normal {
    color: #5d3030;
    font-weight: bold;
    text-decoration: none;
}

.normal:hover {
    font-weight: bolder;
    text-decoration: underline;
}


.button {
    font-family: var(--bs-font-monospace);
    font-weight: 20;
    background-color: #1abc9c;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 2px #f8f9fa;
  }

.button:hover {
    background-color: #15967d;
    padding: 3px 12px;
}

.common {
    background-color: #1abc9c;
    border: 0px solid #1abc9c;
    position: absolute;
}

.header {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 650;
    background-color: #2c3e50;
    font-size: 24px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    position: fixed;
    padding: 20px;
    z-index: 1;
}

.header-left {
    float: left;
    margin-left: 0.3125rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

.header-right {
    float: right;
    margin-right: 0.3125rem;
    text-decoration: none;
}

.header-menu {
    float: right;
}


.main-title {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 650;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    height: 100%;
    font-size: 48px;
    color: floralwhite;
    text-align: center;
    
}

.main-body {
    top: 300px;
    left: 0px;
    right: 0px;
    height: fit-content;
    position: absolute;
    padding: 15px;
    background-color: #f8f9fa;
}

.footer {
    background-color: #2c3e50;
    color: floralwhite;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    padding: 1.125rem;
    position: fixed;
}

.right-image {
    float: right;
    padding: 20px;
}

.center {
    text-align: center;
}

.correct-center {
    padding-left: 190px
}

.center-column {
    padding-left: 20%;
    padding-right: 20%;
}

#viz1681760700873 {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }